@font-face{
    font-family: "Devant Horgen";
    src: url('Devant Horgen.otf');} 
@font-face{
    font-family: "PlayfairDisplay";
    src: url('PlayfairDisplay-VariableFont_wght.ttf');}
*{
    margin: 0;
    padding: 0;}
p, h3{font-family: "PlayfairDisplay";}
h3{
    text-align: center;
    font-size: 30px;
    color: #873600;
    margin-bottom: 20px;}
header{
    border: 1px solid;
    height: 120px;}
header p, .menu ul li a{color: orange;}
.banner{
    margin-left: 30px;
    margin-right: 30px;
    height: 530px;
    background-image: url(../img/coffeeShop.jpeg);
    background-size: cover;
    /*border: 1px solid;*/}
.banner p{font-family: "Devant Horgen";}
/*gimana agar tulisan mabar agak turun*/
#mabar {
    color: #fff;
    font-size: 120px;
    letter-spacing: 5px;
    margin-left: 50px;
    text-shadow: 2px 2px 5px black;}
#inIshpot {
    margin-left: 50px;
    font-size: 50px;
    letter-spacing: 5px;
    color:  orange;
    text-shadow: 2px 2px 3px black;}
.banner p a {
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 3px;
    color: #fff;
    font-size: 50px;
    text-decoration: none;}
#linkPesan {
    margin-left: 50px;
    width: 86px;
    background-color: #873600;
    border-radius: 10%;
    box-shadow: 2px 2px 3px;
    margin-top: 30px;
    margin-bottom: 74px;}
#garisDekor{
    padding: 30px;
    background-image: linear-gradient(transparent 0.01%, #873600);
    border-style: shadow}
.about {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 150px;
    margin-bottom: 100px;
    height: 500px;
    width: 90%;
    font-family: PlayfairDisplay; }
.gridView {
    display: grid; 
    grid-template-columns: 50% auto;}
.gridView img{
    width: 500px;
    justify-self: center;}
.about p {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;}
.paragrafSatu{padding: 10PX;}   
#paragrafDua{
    margin-top: 80px;
    margin-left: 600px}
.product{
    height: 190px;
    display: grid; 
    grid-template-columns: repeat(4, auto);
    background-color: black;
    padding-top: 20px;}
.item img{width: 300px;}
.item p{
    width: 300px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px #873600;}
.information ul{
    padding-top: 5px;
    padding-bottom: 5px; 
    display: grid; 
    background-color: black;
    color: white;
    padding-left: 130px;
    padding-right: 130px;
    grid-template-columns: repeat(3, auto);   
}
.footer{
    text-align: center;
    color: white;
    background-color: black;
    font-family: PlayfairDisplay;
}
.information ul li{
    font-family: PlayfairDisplay;
    padding-left: 25px;
    /*padding-right: 10px;*/
}